@import 'breakpoints';

/* Variables */

img{
    object-fit: cover;
}

body{
    background-color: white !important;
}


/* Chat Conatiner */
.chat_container {
    position: fixed;
    width: 95%;
    left: 2.5%;
    height: 85%;
    border: 1px solid gray;
    border-radius: 11px;
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px 6px;
}

/* Chat List */
.chat_list_container {
    border-right: 1px solid gray;
    width: 25%;
    height: 100%;
    border-radius: inherit;

    .chatlist_header {
        border-bottom: 1px solid gray;
        height: 60px;
        display: flex;
        flex-wrap: nowrap;

        .title {
            font-size: 19px;
            display: flex;
            padding: 5px 6px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .img_container {

            height: 44px;
            width: 44px;
            margin: auto;
            margin-left: auto;
            margin-right: 2px;

            .img {
                width: 100%;
                height: 100%;
                border-radius: 50% !important;
                border: 1px solid gray;
            }
        }
    }

    .chatlist_body {

        .chatlist_item {
            padding: 2px 8px;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;

            .chatlist_img_container {
                height: 47px;
                width: 47px;
                margin: auto;
                margin-left: auto;

                .img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .chatlist_info {
                padding: 2px 5px;
                width: 80%;
                display: block;
                /* flex-wrap: nowrap; */

                .top_row {
                    margin: 3px 0px;
                    display: flex;
                    width: 100%;

                    .list_username {
                        font-size: 16px;
                        width: 80%;
                    }

                    .date {
                        font-size: 13px;
                        margin-left: auto;
                    }
                }

                .bottom_row {
                    display: flex;
                    width: 100%;

                    .message_body {
                        width: 80%;
                        font-weight: lighter;
                        font-family: 'Roboto';
                    }

                    .unread_count {
                        margin-left: auto;
                        font-size: 13px;
                        background-color: gainsboro;
                        padding: 3px 5px;
                        border-radius: 50%;
                        color: rgb(177, 45, 28);
                        font-weight: lighter;
                    }
                }
            }
        }
    }
}

/* Chat Box */
.chat_box_container {
    position: relative;
    width: 75%;
    height: 100%;

    .chatbox_header {
        width: 100%;
        position: absolute;
        top: 0px;
        border-bottom: 1px solid gray;
        height: 60px;

        display: flex;
        flex-wrap: nowrap;

        .img_container {
            height: 45px;
            width: 45px;
            margin: auto 0;
            margin-left: 4px;

            .img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .return {
            margin: auto 0px;
            font-size: 21px;
            padding: 7px 11px;
            cursor: pointer;
        }

        .name {
            margin: auto 5px;
            cursor: pointer;

        }

        .info {
            display: flex;
            flex-wrap: nowrap;

            color: #0182F4;
            font-size: 19px;
            margin: auto 0 auto auto;

            .info_item{
                margin: 1px 11px;
                padding: 3px 5px;
                padding: 4px 7px;
                cursor: pointer;
            }
        }
    }

    .chatbox_body {
        width: 100%;
        position: absolute;
        top: 60px;
        overflow-y: auto;
        padding: 11px 11px;

        .msg_body{
            background-color: rgb(243,243,243);
            border-radius: 9px;
            display: block;
            max-width: 80%;
            margin: 5px 8px;
            padding: 4px 7px;
            .msg_body_footer{
                width: 100%;
                display: flex;
                justify-content: end;
                align-items: right;
            }

            .date{
                font-size: 13px;
                padding-right: 7px;
            }

            .read{
                /* font-size: 16px; */
                color: rgb(102,102,102);
                .svg{
                    font-size: 21px; 
                    margin: 2px;
                }
            }
        }


    }

    .chatbox_footer {
        width: 100%;
        border-top: 1px solid green;
        position: absolute;
        bottom: 0px;
    }

}
